.menu {
	position: absolute;
	float: left;
	height: 100%;
	width: 300px;
	background-color: #312d75;
	transition: .3s ease-out;
}

.burger {
	top: 25px;
	left: 25px;
	position: absolute;
	width: 40px;
	height: 5px;
	background-color: #2a2852;
}

.menu .burger,.menu .burger::after,.menu .burger::before {
	background-color: white;
}

.burger:hover {
	background-color: transparent;
	transition: .2s ease; 
}

.burger::after, .burger::before {
	content: '';
	display: block;
	position: absolute;
	width: 40px;
	height: 5px;
	background-color: #2a2852;
	transition: .2s ease;
}

.burger::after {
	transform: translateY(-8px);
}

.burger::before {
	transform: translateY(8px);
}

.burger:hover::before {
  transform:rotate(45deg);
}

.burger:hover::after {
  transform:rotate(-45deg);
}

.contentWrapper {
	padding: 50px 20px;
	color: white;

}
